<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:attr="lang=${lang}">
	<head>
		<title>Book Template</title>
		<meta charset="UTF-8" />
		<style th:utext="${book_template_style}"></style>
		<script th:utext="${book_template_script}"></script>
	</head>
	<body>
		<h1 th:text="#{book_template.title}">Lista de Livros</h1>
		<span th:text="#{book_template.function.generation_time(${generationTime})}"></span>
		<h3 th:utext="#{book_template.function.example_1(${username})}"></h3>
		<img
			th:src="'data:image/png;base64,' + ${book_template_img}"
			alt="example image"
			width="640"
			style="display: block; margin: 0 auto;"
		/>
		<table>
			<thead>
				<tr>
					<th th:text="#{book_template.tables.table_1.column_1}">Nome</th>
					<th th:text="#{book_template.tables.table_1.column_2}">Autor</th>
					<th th:text="#{book_template.tables.table_1.column_3}">Descrição</th>
					<th th:text="#{book_template.tables.table_1.column_4}">Data de Criação</th>
					<th th:text="#{book_template.tables.table_1.column_5}">Data de Publicação</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="book, iterStat : ${books}">
					<td th:text="${book.name} ?: 'N/A'">Nome</td>
					<td th:text="${book.author} ?: 'N/A'">Autor</td>
					<td th:text="${book.description} ?: 'N/A'">Descrição</td>
					<td th:text="${book.createdAt}">Data de Criação</td>
					<td th:text="${book.publishedAt}">Data de Publicação</td>
				</tr>
				<!-- Adicione a classe page-break onde necessário -->
<!--				<tr class="page-break"></tr>-->
				<!-- Adicione a classe page-break condicionalmente -->
<!--				<div th:if="${iterStat.index % 20 == 0}" class="page-break"></div>-->
			</tbody>
		</table>
		<div class="btn">
			<button onclick="hello()" th:text="#{book_template.buttons.buton_1.text}">Clique aqui</button>
		</div>
	</body>
</html>
